.frame {
    box-sizing: border-box;
    width: 350px;
    height: 738px;
    overflow: hidden;
    background-color: #d4cece;
    opacity: 0.68;
    border-radius: 94px;
    border: 6px solid #54a6c0;
  }