.heroPageContainer {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}


/* .Heroframe {
  box-sizing: border-box;
  width: 90%;
  
  padding: 5%;
  overflow: hidden;
  
  background-color: #E5EFF8;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 94px;
  border: 10px solid #E5EFF8;
  box-shadow: 10px 10px 10px black;
  
} */
  /* .frameVideo {
    box-sizing: border-box;
    width: 90%;
    height: 40%;
    overflow: hidden;
    background-color: #d4cece;
    border-radius: 167px;
    border: 13px solid #9F0000;
    
    box-shadow: 5px 5px 5px black;
    
  } */
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .freedom {
    border-radius: 30px;
    background: #00bea6;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px;
    width: 255px;
    transition: all 0.4s;
    cursor: pointer;
    
    display: flex; 
    
    
  }
  .freedom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .freedom span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .freedom:hover span {
    padding-right: 25px;
  }
  .freedom:hover span:after {
    opacity: 1;
    right: 0;
  }

  

  .webPics {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .noMoney {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .noMoney img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }

  .depressed {
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
  .depressed img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }
  .happy{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    

  }
  .happy img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }

  