.heroPageContainer {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}



  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .freedom {
    box-shadow: 3px 4px 0px 0px #1c8a7b;
    background:linear-gradient(to bottom, #00bea5 5%, #4be3cf 100%);
    background-color:#00bea5;
    border-radius:18px;
    border:1px solid #00bea5;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:7px 25px;
    text-decoration:none;
    text-shadow:0px 1px 0px #17bda7;
    margin: 1%;
    cursor: pointer;
    display: flex; 
  }
  .freedom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .freedom span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .freedom:hover span {
    padding-right: 25px;
  }
  .freedom:hover span:after {
    opacity: 1;
    right: 0;
  }

  

  .webPics {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .noMoney {
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .noMoney img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }

  .depressed {
    display: flex;
    flex-direction: column;
    align-items: center;
    

  }
  .depressed img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }
  .happy{
    display: flex;
    flex-direction: column;
    align-items: center;

    
    

  }
  .happy img{
    width:100%;
    border: 2px solid #00bea6;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.692);
    border-radius: 30px;
  }

  