@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 320px;
    }
  }

  /* .frame {
    box-sizing: border-box;
    width: 90%;
    overflow: scroll;
    padding: 5%;
    
    
    background-color: #E5EFF8;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    border-radius: 94px;
    border: 10px solid #E5EFF8;
    box-shadow: 30px 30px 30px black;
    
  } */
  .logoncontainer {
    font-size: 28px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50%;
    
  }
  
  .loginForm {
   box-sizing: border-box;
   width: 100%;
   max-width: 400px;
   padding-left: 20px;
   padding-right: 20px;
  }
  
  .inputField {
   padding-top: 16px;
  }
  
  .input {
   box-sizing: border-box;
   outline: none;
   border: solid 2px #00bea6;
   border-radius: 4px;
   color: #292929;
   width: 100%;
   padding: 12px;
   font-size: 14px;
   background: rgba(255, 255, 255, 1);
  }
  
  .submitButton {
   padding-top: 16px;
  }
  
  
  .btn {
   width: 100%;
   min-width: 280px;
   color: #565656;
   padding: 12px;
   font-size: 14px;
   font-weight: bold;
   border: solid 2px #00bea6;
   border-radius: 4px;
   background: #fff;
   cursor: pointer;
  }

.LContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}


  .logonFrame {
    box-sizing: border-box;
    width: 90%;
    overflow: scroll;
    padding: 5%;
    
    
    background-color: #E5EFF8;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    
    border: 3px solid #00bea6;
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.63);
    
  }