
.productSlideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .MuiPaper-root.MuiCard-root-makeStyles-card-5.MuiPaper-elevation1.Muipaper-rounded {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.pCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-arrows {
  display: inline-grid;
  box-sizing: border-box;
  /* grid-template-columns: 1fr 1fr; */
  justify-self: center;
  grid-template-columns: 100% 50% 50% 1000%;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer";
  
  
}
.arrowL {
  grid-column-start: 2;
  grid-column-end: 3;
  
}
.arrowR {
  grid-column-start: 3;
  grid-column-end: 4;
  
}  
    
 
  .arrowR svg:first-child {
    opacity: 80%;
    height: 40px;
    width: 60px;
    cursor: pointer;
    color: #9F0000;
    filter: drop-shadow(10px 10px 4px black);

  }
  .arrowL svg:first-child {
    opacity: 80%;
    height: 40px;
    width: 60px;
    cursor: pointer;
    color: #9F0000;
    filter: drop-shadow(10px 10px 4px black);

  }

  @media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
 
}
 

 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}