
.productSlideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* .MuiPaper-root.MuiCard-root-makeStyles-card-5.MuiPaper-elevation1.Muipaper-rounded {
  display: flex;
  flex-direction: column;
  align-items: center;
} */
.pCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.grid-arrows {
  display: flex;
  /* box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  justify-self: center;
  grid-template-columns: 100% 100% 100% 100%;
  grid-template-rows: 100% 50% 50% 100%;
  grid-template-areas: 
    "header header header header"
    "main main main main"
    "footer footer footer footer"; */
    flex-direction: row;
    margin-left: 35%;
    
  
  
}
/* .arrowL {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 1;
  
}
.arrowR {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  
}   */
    
 
  .arrowR svg:first-child {
    opacity: 80%;
    height: 40px;
    width: 60px;
    cursor: pointer;
    color: #9F0000;
    filter: drop-shadow(10px 10px 4px black);

  }
  .arrowL svg:first-child {
    opacity: 80%;
    height: 40px;
    width: 60px;
    cursor: pointer;
    color: #9F0000;
    filter: drop-shadow(10px 10px 4px black);

  }

  @media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
 
}
 

 
@media only screen
 
and (min-device-width: 375px)
 
and (max-device-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}