/* .checkoutFormContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Stripeframe {
    box-sizing: border-box;
    width: 90%;
    overflow: scroll;
    padding: 20%;
    
    
    background-color: #E5EFF8;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    border-radius: 94px;
    border: 10px solid #E5EFF8;
    box-shadow: 30px 30px 30px black;
    
  } */