.frame {
  box-sizing: border-box;
  width: 340px;
  height: 710px;
  overflow: hidden;
  /* background-color: #f2f3f4; */
  background-color: rgb(226, 226, 226);
  display: inline-flex;
  flex-direction: column;
  border-radius: 94px;
  border: 10px solid #ffffff;
  box-shadow: 10px 10px 10px black;
  
}

.submit img {
  margin-left: 2%;
  
  
}
.pCard {
  margin-left: 10%;
  margin-top: -40%;
}


@media only screen
 
and (min-width: 375px)
 
and (max-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
  
body {
  background-color: #dfdfdf;
  
}
}
@media only screen
 
and (min-width: 375px)
 
and (max-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: portrait) {
 
}
 

 
@media only screen
 
and (min-width: 375px)
 
and (max-width: 667px)
 
and (-webkit-min-device-pixel-ratio: 2)
 
and (orientation: landscape) {
 
}
