.heroPageContainer {
    display: flex;
    flex-direction: column;
    padding: 4.5%;
}

.frame {
    box-sizing: border-box;
    width: 340px;
    height: 710px;
    overflow: hidden;
    /* background-color: #f2f3f4; */
    background-color: rgba(255, 255, 255, 0.5);
    display: inline-flex;
    flex-direction: column;
    border-radius: 94px;
    border: 10px solid #F8F8FF;
    box-shadow: 10px 10px 10px black;
    
  }
  .frameVideo {
    box-sizing: border-box;
    width: 270px;
    height: 270px;
    overflow: hidden;
    background-color: #d4cece;
   
    border-radius: 167px;
    border: 13px solid #9F0000;
    margin-top: 30px;
    margin-left: 25px;
    box-shadow: 5px 5px 5px black
    
  }
  
  .freedom {
    border-radius: 4px;
    background: linear-gradient(to right, #b2c3ca, #4ca2cb, #b7c8cf) !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    padding: 18px;
    width: 255px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
    padding-left: 12;
    margin-left: 5%;
    display: flex; 
    
    
  }
  .freedom span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.4s;
  }
  .freedom span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .freedom:hover span {
    padding-right: 25px;
  }
  .freedom:hover span:after {
    opacity: 1;
    right: 0;
  }